<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <title>Q&A Application</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" type="text/css" />
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="box text-center">
                <h1>QNA Application Home Page</h1>
                <h4><a th:href="@{/signup}">Signup</a></h4>
                <h4><a th:href="@{/login}">Login</a></h4>
            </div>
        </div>
    </div>
</body>
</html>