<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
  <title>Q&A Application</title>
  <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" type="text/css" />
  <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="box">
      <div class="row">
        <div class="col-2">Categories</div>
        <div class="col-8">
          <div class="question">
            <H3 th:text="${question.title}"></H3>
            Author: <span th:text="${question.author}"></span> | Created: <span th:text="${question.createdAt}"></span>
            <hr>
            <h6 th:text="${question.content}"></h6>
          </div>
          <div class="answers" th:each="ans: ${allAnswers}">
            <div class="answer_head">
              Author: <span th:text="${ans.author}"></span> | Created: <span th:text="${ans.createdAt}"></span>
            </div>
            <hr>
            <p th:text="${ans.content}"></p>
            <div>
                <span th:each="ranked: ${ranks}" th:if="${ranked.answer.id}!=${ans.id}">
                    <a href="#" th:href="@{'/app/AnswerRank/'+${ans.id}}"  class="btn btn-info">Like</a>
                </span>
                <span th:if="${ranks.empty}">
                  <a href="#" th:href="@{'/app/AnswerRank/'+${ans.id}}"  class="btn btn-info">Like</a>
                </span>
            </div>
          </div>
          <div class="answer">
            <form action="#" th:action="@{'/app/question/'+ ${question.id}}" th:object="${answer}" method="post">
              <div class="form-group">
                <input type="text" class="form-control"  placeholder="write your answer" th:field="*{content}">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
        <div class="col-2">Rankings</div>
      </div>
    </div>
  </div>
</div>
</body>
</html>